/nbproject/private/
/GestionPersons2-war/nbproject/private/
/GestionPersons2-ejb/nbproject/private/
/GestionPersons2-ejb/build/
/GestionPersons2-ejb/dist/
/build/
/dist/
/GestionPersons2-war/dist/
/GestionPersons2-war/build/